


.app__input {
    border: solid 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 4px;
}

.app__output {
    border: solid 2px #E8F0F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

# input-div div {
 border: solid 2px red;
 margin: 10px;
}

# output-div div {
 border: solid 2px green;
 margin: 10px;
 }